html, body {
    width: 100%;
    font-family: 'Circe', Helvetica, sans-serif;
}
ul {
    margin: 0;
    padding: 0;
}
ul li {
    list-style: none;
}
a {
    text-decoration: none;
}
p {
    margin: 0px;
    line-height: 1.42;
}
h1,h2,h3,h4,h5,h6 {
    margin: 0;
    font-weight: normal;
}
button {
    outline: none;
}

:root {
    font-size: 15px;
    @include laptop {
        font-size: 14px;
    }
    @include tablet {
        font-size: 13px; 
    }
    @include phone {
        font-size: 12px;
    }
}
input, textarea {
    box-sizing: border-box;
}
input:-webkit-autofill {
    box-shadow: 0 0 0 1000px white inset;
    border-color: black !important;
}
.wrapper {
    min-height: 100%;
    min-width: 100%;
    position: relative;
}

.container {
    width: 80%;
    max-width: 980px;
    margin: 0 auto;
    @include tablet() {
        width: 90%;
    }
    &--flex {
        display: flex;
        @include tablet() {
            display: block;
        }
    }
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    background: transparent;
    border: none;
    color: #e02222;
    font-size: 18px;
    cursor: pointer;
    @include phone() {
        font-size: 14px;
    }
    &:hover {
        color: #ff4e4e;
        .button-arrow {
            border-color: #ff4e4e;
        }
        .button-arrow::before {
            background: #ff4e4e;
        }
        .button-arrow::after {
            border-left-color: #ff4e4e;
            border-bottom-color: #ff4e4e;
        }
    }
    &-arrow {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        margin: 0 10px;
        height: 22px;
        width: 22px;
        border: 2px solid #e02222;
        border-radius: 50px;
        position: relative;
        @include phone() {
            height: 18px;
            width: 18px;
        }
        &--up {
            transform: rotate(180deg);
        }
        &::before {
            content: "";
            display: block;
            width: 2px;
            height: 10px;
            background: #e02222;
            @include phone() {
                height: 8px;
            }
        }
        &::after {
            content: "";
            display: block;
            height: 6px;
            width: 6px;
            border-left: 2px solid #e02222;
            border-bottom: 2px solid #e02222;
            transform: rotate(-45deg);
            position: absolute;
            left: 7px;
            top: 8px;
            @include phone() {
                left: 5px;
                top: 6px;
            }
        }
    }
}

._none {
    display: none;
}