@font-face {
    font-family: 'amazing_grotesk';
    src: url('./../fonts/amazing_grotesk_book-webfont.woff2') format('woff2'),
         url('./../fonts/amazing_grotesk_book-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'lobster';
    src: url('./../fonts/lobster_allfont.ru-webfont.woff2') format('woff2'),
         url('./../fonts/lobster_allfont.ru-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Circe';
    src: url('./../fonts/Circe-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Circe';
    src: url('./../fonts/Circe-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Circe';
    src: url('./../fonts/Circe-Thin.woff') format('woff');
    font-weight: thin;
    font-style: normal;
}
@font-face {
    font-family: 'Circe';
    src: url('./../fonts/Circe-Light.woff') format('woff');
    font-weight: light;
    font-style: normal;
}
@font-face {
    font-family: 'PFCentroSlabProBold';
    src: url('./../fonts/PFCentroSlabProBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}