.header {
    height: 100px;
    background: $greyBG;
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
    align-items: center;
    @include phone() {
        flex-flow: column;
        align-items: center;
        height: 140px;
        padding-bottom: 30px;
    }
    &__logo {
        align-self: flex-end;
        @include phone() {
            align-self: center;
            margin: 10px;
        }
        & a {
            display: block;
        }
        &-img {
            height: 75px;
        }
    }
    &__socials {
        padding-top: 5px;
    }
}