.timeline {
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 100%;
    &__title {
        font-size: 22px;
        font-weight: bold;
        text-transform: uppercase;
        color: #e02222;
        text-align: center;
        cursor: pointer;
        position: relative;
        display: inline-block;
        margin-bottom: 55px;
        padding: 5px 0 5px 50px;
        @include phone() {
            margin-bottom: 40px;
        }
        &:hover {
            color: #ff4e4e;
        }
        &:hover::before {
            background-position-x: -100%;
        }
        &::before {
            content: "";
            display: block;
            width: 33px;
            height: 30px;
            position: absolute;
            top: 0;
            left: 0;
            background: url("../images/icons/list-sprite.png");
            background-size: 200% 100%;
        }
    }
    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        overflow: hidden;
        transition: .5s;
        min-height: 600px;
        width: 100%;
    }
    &__item {
        cursor: pointer;
        width: 256px;
        margin: 0 10px 20px;
        text-align: center;
        &:hover {
            .timeline__info {
                color: #f94f33;
            }
            .timeline__player::after {
                display: block;
            }
            .timeline__player-btn {
                opacity: 1;
            }
        }
        @include phone() {
            margin-bottom: 10px;
        }
    }
    &__player {
        width: 100%;
        height: 145px;
        overflow: hidden;
        margin-bottom: 20px;
        position: relative;
        @include phone() {
            margin-bottom: 10px;
        }
        &::after {
            content: "";
            display: none;
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background: #faa597;
            opacity: .7;
        }
        &-img {
            &--1 {
                transform: translate(-39%, -20%);
            }
            &--2 {
                transform: translate(-25%, 0%);
            }
            &--3 {
                transform: translate(-10%, -5%);
            }
            &--5 {
                transform: translate(-21%, -18%);
            }
            &--6 {
                height: 100%;
            }
        }
        &-btn {
            height: 70px;
            width: 70px;
            background: transparent;
            border: 4px solid white;
            position: absolute;
            border-radius: 50%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            opacity: .5;
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 100;
            cursor: pointer;
            &::after {
                content: "";
                height: 0;
                width: 0;
                border-color: transparent;
                display: block;
                border-width: 15px;
                border-style: solid;
                border-left-color: white;
                border-left-width: 26px;
                transform: translateX(25%);
            }
        }
    }
    &__info {
        font-size: 14px;
        color: #5f5b5b;
        padding-bottom: 20px;
        @include phone() {
            padding-bottom: 15px;
        }
        &-time {
            margin-bottom: 15px;
            @include phone() {
                margin-bottom: 10px;
            }
        }
        &-topic {
            text-transform: uppercase;
            line-height: 18px;
            margin-bottom: 10px;
        }
    }
}

._display-none {
    transform: scale(0);
    height: 0;
    min-height: 0;
}